.Menu {
  width: 300px;
  height: calc(100vh - 100px); /*Accounting for Header height*/

  background-color: #5E99AE;
}

.Menu .MenuItem {
  display: flex;
  flex-direction: row;

  justify-content: flex-start;
  align-items: center;

  width: 100%;
  padding: 24px;
  box-sizing: border-box;

  color: white;

  cursor: pointer;
}

.Menu .MenuItem.active {
  background-color: #2F596D;
}

.Menu .MenuItem:hover {
  color: #141618;
  background-color: #9DC3CF;
}
